/* 全体 */
body {
	background-color: rgb(219, 208, 164);
	/* 背景色  */
	text-align: center;
	/* 中央寄せ */
	min-width: 900px;
	/* 最小幅 */
}

/* ヘッダー、ナビゲーションメニュー、フッター */
header,
nav,
footer {
	background-color: rgb(227, 204, 170);
	/* 背景色 */
	color: #ffffff;
	/* 文字色 */
	padding-top: 5px;
	/* 内側余白(上) */
	padding-bottom: 5px;
	/* 内側余白(下) */
}

/* ヘッダー、ナビゲーション内リンク */
.header-a1 {
	padding-right: 7px;
	color: rgb(255, 255, 255);
	border: 2px solid #ffffff;
	margin: 3px;
	text-decoration: none;
	text-shadow: 2px 1px #c7edff, 4px 2px #9acee7, 6px 3px #6bbade;
}

.header-a2,
nav a {
	color: rgb(255, 255, 255);
	background-color: rgb(218, 186, 137);
	border: 2px solid #ffffff;
	margin: 3px;
	text-decoration: none;
}

.login-name {
	color: rgb(255, 255, 255);
	border-color: 2px solid #ffffff;
	margin: 3px;
}

.parent-end {
	display: flex;
	justify-content: flex-end;
}

.parent-center {
	display: flex;
	justify-content: center;
	gap:40px;
	
}

.logout-a {
	color: rgb(255, 255, 255);
	/*	background-color: rgb(218, 186, 137);*/
	border-bottom: 2px solid #ffffff;
	margin: 3px;
	text-decoration: none;
}

/* ヘッダー内見出し */
#bg-h1 {
	position: relative;
	background-image: url(tree.jpg);
	box-shadow: 0px 0px 0px 5px rgb(128, 64, 64);
	padding: 0.8em 1em;
	font-family: fantasy;
	background-color: transparent;
}


/* 仕切り線 */
hr {
	border-top: 2px dashed rgb(64, 128, 128);
}

/* メイン */
main {
	background-color: rgb(249, 252, 205);
	min-height: 50px;
	padding: 20px;
}


table {
	border-collapse: separate;
	border-spacing: 5px;
	margin: 5px auto;
	min-width: 800px;
}

table th,
table td {
	border-radius: 5px;
	text-align: center;
	padding: 10px 0;
}

table th {
	background-color: #c79852;
	color: white;
	border: solid 1px #927141;
}

table td {
	background-color: rgb(227, 204, 170);
	border: solid 1px #af9d85;
}

/* 送信ボタン */
button {

	padding: 10px 15px;
	background-color: #c79852;

	border: none;
	cursor: pointer;
	border-radius: 10px;
	border: 1px solid #927141;
	font-weight: bold;
	color: rgb(255, 255, 255);
}

/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #f1b2b2;
}

#btn-search {
	margin: 4px;
	padding: 2px 5px;
	background-color: rgb(218, 186, 137);
	color: rgb(255, 255, 255);
	cursor: pointer;
	border: 2px solid #ffffff;
	border-radius: 0px;
}

main a {
	text-decoration: none;
	padding: 2px 10px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	border: 1px solid #927141;
	background-color: #c79852;
	border-radius: 5px;
}



#pcolor {
	color: red;
}

input,
textarea,
select {
	padding: 2px 2px;
	font-weight: bold;
	color: #454545;
	border: 2px solid rgb(255, 255, 255);
	background-color: rgb(218, 186, 137);
}

.form-input::placeholder {
	color: rgb(255, 255, 255);
}

h3 {
	font-size: 22px;
	color: #927141;
	font-family:fantasy;
	text-shadow: 2px 2px rgb(192, 192, 192);
	}

.improtance-0{
	color: rgb(0, 128, 255);
	font-weight: bold;
}

.improtance-1{
	color: rgb(255, 128, 0);
		font-weight: bold;
}

.improtance-2{
	color: rgb(255, 0, 0);
		font-weight: bold;
}

.active {
    color: #454545;;
    font-weight: bold; /* 視認性を上げるため（任意） */
}












