<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスク詳細</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<!--	<header th:replace="~{header}"></header>-->
	<hr>

	<main>

		<table border="1">
			<tr>
				<th>タイトル</th>
				<th th:text="${tasks.title}"></th>
			</tr>
			<tr>
				<th>カテゴリー</th>
				<th th:each="category:${categories}" th:if="${category.id==tasks.categoryId}"
					th:text="${category.name}"></th>
			</tr>
			<tr>
				<th>期日</th>
				<th th:text="${tasks.deadline}"></th>
			</tr>
			<tr>
				<th>重要度</th>
				<th th:switch="${tasks.importance}">
					<div th:case="0">低</div>
					<div th:case="1">中</div>
					<div th:case="2">高</div>
				</th>
			</tr>
			<tr>
				<th>ルーティーン</th>
				<th th:switch="${tasks.routine}">
					<div th:case="0">無</div>
					<div th:case="1">有</div>
				</th>
			</tr>
			<tr>
				<th>備考</th>
				<th th:text="${tasks.memo}"></th>
			</tr>
		</table>
		<span class="parent-center">
		<form th:action="@{/tasks/{id}/edit(id=${tasks.id})}" method="get">
			<button>更新</button>
		</form>
		<form th:action="@{/tasks/{id}/delete(id=${tasks.id})}" method="post">
			<button>削除</button>
		</form>
		<form action="/tasks" method="get">
			<button>戻る</button>
		</form>
		</span>
	</main>
	<hr>
	<!--	<footer th:replace="~{footer}"></footer>-->
</body>

</html>