<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスク一覧</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header th:replace="~{header}"></header>
	<hr>
	<nav>
		<a href="/tasks">一覧</a>
		<a th:each="category:${categories}" th:href="@{/tasks(categoryId=${category.id},keyword=${keyword})}" th:text="${category.name}"
			 style="margin-right: 5px;"></a>
		<form action="/tasks" method="get">
			<input class="form-input" type="text" name="keyword" th:value="${keyword}"  placeholder="タスク名検索">
			<button id="btn-search" >検索</button>
		</form>
		<a th:href="@{/tasks(categoryId=${cId}, keyword=${keyword}, sort='deadlineAsc')}">期日</a>
		<a th:href="@{/tasks(categoryId=${cId}, keyword=${keyword}, sort='importanceAsc')}">重要度</a>
		<a th:href="@{/tasks(categoryId=${cId}, keyword=${keyword}, sort='routineAsc')}">ルーティーン</a>
	</nav>
	<main>
		<h3>ルーティン</h3>
		<table border="1">
			<tr>
				<th>NO.</th>
				<th>タイトル</th>
				<th>カテゴリー</th>
				<th>重要度</th>
				<th>完了</th>
			</tr>
			<tr th:if="${task.routine > 0 and task.isToday == true}" th:each="task:${tasks}">
				<td th:text="${task.id}"></td>
				<td><a th:href="@{/tasks/{id}/detail(id=${task.id})}" th:text="${task.title}"></a></td>
				<td th:each="category:${categories}" th:if="${category.id==task.categoryId}" th:text="${category.name}">
				</td>
				<td th:switch="${task.importance}">
					<div th:case="0">低</div>
					<div th:case="1">中</div>
					<div th:case="2">高</div>
				</td>
				<td>
					<form th:action="@{/tasks/{id}/complete(id=${task.id})}" method="post">
						<button>完了</button>
					</form>
				</td>
			</tr>
		</table>


		<h3>本日</h3>
		<table border="1">
			<tr>
				<th>NO.</th>
				<th>タイトル</th>
				<th>カテゴリー</th>
				<th>重要度</th>
				<th>完了</th>
			</tr>
			<tr th:if="${task.isToday}" th:each="task:${tasks}">
				<td th:text="${task.id}"></td>
				<td><a th:href="@{/tasks/{id}/detail(id=${task.id})}" th:text="${task.title}"></a></td>
				<td th:each="category:${categories}" th:if="${category.id==task.categoryId}" th:text="${category.name}">
				</td>
				<td th:switch="${task.importance}">
					<div th:case="0">低</div>
					<div th:case="1">中</div>
					<div th:case="2">高</div>
				</td>
				<td>
					<form th:action="@{/tasks/{id}/complete(id=${task.id})}" method="post">
						<button>完了</button>
					</form>
				</td>
			</tr>
		</table>

		<h3>全体</h3>
		<table border="1">
			<tr>
				<th>NO.</th>
				<th>タイトル</th>
				<th>カテゴリー</th>
				<th>期限</th>
				<th>重要度</th>
				<th>ルーティン</th>
				<th>本日に追加</th>
			</tr>
			<tr th:each="task:${tasks}">
				<td th:text="${task.id}"></td>
				<td><a th:href="@{/tasks/{id}/detail(id=${task.id})}" th:text="${task.title}"></a></td>
				<td th:each="category:${categories}" th:if="${category.id==task.categoryId}" th:text="${category.name}">
				</td>
				<td th:text="${task.deadline}"></td>
				<td th:switch="${task.importance}">
					<div th:case="0">低</div>
					<div th:case="1">中</div>
					<div th:case="2">高</div>
				</td>
				<td th:switch="${task.routine}">
					<div th:case="0">無</div>
					<div th:case="1">有</div>
				<td>
					<form th:action="@{/tasks/{id}/addtoday(id=${task.id})}" method="post">
						<button>追加</button>
					</form>
				</td>
			</tr>
		</table>
		<form action="/tasks/add" method="get">

			<button>新規登録</button>
		</form>
	</main>
	<hr>
	<footer th:replace="~{footer}"></footer>
</body>

</html>